Базовые требования к старту разработки приложения:

1) Webpack - сборщик проекта, где мы указываем входную точку для проекта, и webpack собирает все модули в один js файл. Мы все будем писать на последнем синтаксисе JS, чтобы данный скрипт поддерживался более ранними версиями, нам нужно будет пропустить весь код через babel (транспайлер кода, который приводит его из новой версии в старые) -> Реализовать Babel

  - В нашем проекте будет присутствоать верстка, поэтому нам нужно чтобы наш webpack поддерживал какой либо препроцессор - мы будем использовать scss, нам нужно чтобы webpack его поддерживал

  - EsLint - следить за чистотой кода

  - WebPack должен поддерживать два режима сборки проекта: Dev (будет поддерживать Dev Server, SourceMap, Eslint, Not Minified JS & CSS), Prod (Minified Code)

2) Git

  - production
  1.0.0
  - development
  1.0.2